<template>
  <div id="user">
    <nav class="text-sm font-semibold mb-6" aria-label="Breadcrumb">
      <ol class="list-none p-0 inline-flex">
        <li class="flex items-center text-blue-500">
          <router-link :to="{name:'DashboardHome'}">
            <a class="text-gray-700">Home</a>
          </router-link>
          <svg
            class="fill-current w-3 h-3 mx-3"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
            />
          </svg>
        </li>
        <li class="flex items-center">
          <router-link :to="{name:'RolePage'}">
            <a class="text-gray-600">Roles</a>
          </router-link>
        </li>
      </ol>
    </nav>
    <div class="flex justify-between items-center mb-2">
      <p v-if="action==='update'" class="text-2xl font-semibold mb-2 lg:mb-0">Update Role</p>
      <p v-else class="text-2xl font-semibold mb-2 lg:mb-0">Create Role</p>
    </div>
    <div class="flex flex-wrap -mx-3 mb-20">
      <div class="w-full xl:w-full px-3">
        <div class="w-full bg-white border rounded-lg flex items-center p-6 mb-6 xl:mb-0">
          <form class="w-full" v-on:submit.prevent="onSubmit">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3 mb-6 md:mb-0">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="grid-first-name"
                >Name</label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                  id="grid-first-name"
                  type="text"
                  v-model="form.name"
                />
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="px-3 w-full flex flex-wrap">
                <div
                  class="w-1/2 flex content-center align-middle uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                >Permissions</div>
                <div class="w-1/2 text-right mb-3">
                  <button
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                    type="button"
                    @click="addPermission"
                  >
                    <FontAwesome icon="plus" />
                  </button>
                </div>
                <div
                  class="w-full flex flex-wrap mb-2"
                  v-for="(item, index) in form.permissions"
                  v-bind:key="index"
                >
                  <div class="w-6/12 px-2">
                    <input
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                      type="text"
                      placeholder="Path"
                      v-model="item.path"
                    />
                  </div>
                  <div class="w-5/12 px-2">
                    <div class="relative">
                      <select
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-state"
                        v-model="item.method"
                      >
                        <option></option>
                        <option value="GET">Get</option>
                        <option value="POST">Post</option>
                        <option value="PUT">Put</option>
                        <option value="PATCH">Patch</option>
                        <option value="DELETE">Delete</option>
                      </select>
                      <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                      >
                        <svg
                          class="fill-current h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>

                  <div class="w-1/12 pl-2 text-right">
                    <button
                      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                      type="button"
                      @click="removePermission(index)"
                    >
                      <FontAwesome icon="trash-alt" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-content -mx-3 mb-2">
              <div class="w-full px-3 mb-6 md:mb-0">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  type="submit"
                >Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { GetSingleRole, CreateRole, UpdateRole } from "../store/api/roles";

export default {
  name: "RoleFormPage",
  data: () => ({
    action: "create", // create/update
    roles: [],
    loading: false,
    form: {
      name: "",
      permissions: []
    }
  }),
  created() {
    this.init();
  },
  watch: {
    $route: "init"
  },
  methods: {
    addPermission() {
      this.form.permissions.push({ path: "", method: "" });
    },
    removePermission(i) {
      this.$swal({
        title: "Are you sure?",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          this.form.permissions.splice(i, 1);
        }
      });
    },
    init() {
      if (this.$router.currentRoute.name === "RoleEdit") {
        this.action = "update";
        GetSingleRole(this.$route.params.id)
          .then(d => {
            if (d === null) {
              this.$swal("Error", "role data is no longer exist", "error").then(
                () => {
                  this.$router.push({ name: "RolePage" });
                }
              );
              return;
            }
            this.form = {
              name: d.name,
              permissions: d.permissions || []
            };
          })
          .catch(err => {
            this.$swal("Error", "failed to fetch data", "error").then(() => {
              this.$router.push({ name: "RolePage" });
            });
          });
      }
    },
    onSubmit() {
      if (this.action === "update") {
        // update
        this.handleSubmitUpdate();
      } else {
        // create
        this.handleSubmitCreate();
      }
    },
    handleSubmitUpdate() {
      const formData = this.form;
      for (const key in formData) {
        const v = formData[key];
        switch (key) {
          case "name":
            if (!v) {
              this.$swal("Validation", "Name is required", "warning");
              return;
            }
            break;
          case "permissions":
            for (const field in v) {
              if (field.path === "") {
                this.$swal(
                  "Validation",
                  "Password and Password confirmation is not same",
                  "warning"
                );
                return;
              }
            }
            break;
        }
      }

      this.$swal({
        title: "Are you sure?",
        icon: "info",
        buttons: true,
        dangerMode: true
      }).then(run => {
        if (run) {
          UpdateRole(this.$route.params.id, formData)
            .then(d => {
              this.$swal(
                "Success",
                "role data successfully saved",
                "success"
              ).then(() => {
                this.$router.push({ name: "RolePage" });
              });
            })
            .catch(err => {
              this.$swal("Error", "failed to save data", "error");
            });
        }
      });
    },
    handleSubmitCreate() {
      const formData = this.form;
      for (const key in formData) {
        const v = formData[key];
        switch (key) {
          case "name":
            if (!v) {
              this.$swal("Validation", "Name is required", "warning");
              return;
            }
            break;
          case "permissions":
            for (const field of v) {
              if (field.path === "") {
                this.$swal("Validation", "Missing value for path", "warning");
                return;
              } else if (field.method == "") {
                this.$swal(
                  "Validation",
                  `Missing method for path : ${field.path}`,
                  "warning"
                );
                return;
              }
            }
            break;
        }
      }
      this.$swal({
        title: "Are you sure?",
        icon: "info",
        buttons: true,
        dangerMode: true
      }).then(run => {
        if (run) {
          CreateRole(formData)
            .then(d => {
              this.$swal(
                "Success",
                "role data successfully saved",
                "success"
              ).then(() => {
                this.$router.push({ name: "RolePage" });
              });
            })
            .catch(err => {
              this.$swal("Error", "failed to save data", "error");
            });
        }
      });
    }
  }
};
</script>