<template>
  <div id="user">
    <nav class="text-sm font-semibold mb-6" aria-label="Breadcrumb">
      <ol class="list-none p-0 inline-flex">
        <li class="flex items-center text-blue-500">
          <router-link :to="{name:'DashboardHome'}">
            <a class="text-gray-700">Home</a>
          </router-link>
          <svg
            class="fill-current w-3 h-3 mx-3"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
            />
          </svg>
        </li>
        <li class="flex items-center">
          <router-link :to="{name:'UserPage'}">
            <a class="text-gray-600">Users</a>
          </router-link>
        </li>
      </ol>
    </nav>
    <div class="flex justify-between items-center mb-2">
      <p v-if="action==='update'" class="text-2xl font-semibold mb-2 lg:mb-0">Update User</p>
      <p v-else class="text-2xl font-semibold mb-2 lg:mb-0">Create User</p>
    </div>
    <div class="flex flex-wrap -mx-3 mb-20">
      <div class="w-full xl:w-full px-3">
        <div class="w-full bg-white border rounded-lg flex items-center p-6 mb-6 xl:mb-0">
          <form class="w-full" v-on:submit.prevent="onSubmit">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3 mb-6 md:mb-0">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="grid-first-name"
                >Name</label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                  id="grid-first-name"
                  type="text"
                  v-model="form.name"
                />
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="px-3 w-1/2">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="grid-password"
                >Password</label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-password"
                  type="password"
                  placeholder="******************"
                  v-model="form.password"
                />
              </div>
              <div class="px-3 w-1/2">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="grid-password"
                >Confirm Password</label>
                <input
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-password"
                  type="password"
                  placeholder="******************"
                  v-model="form.confirmPassword"
                />
              </div>
              <div class="px-3 w-full" v-if="action=='update'">
                <p class="text-gray-600 text-xs italic">Keep it empty if you dont want to change it</p>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6" v-if="action==='create'">
              <div class="w-full px-3 mb-6 md:mb-0">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="grid-state"
                >Role</label>
                <div class="relative">
                  <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-state"
                    v-model="form.roleId"
                  >
                    <option></option>
                    <option
                      v-for="item in roles"
                      :value="item.id"
                      v-bind:key="item.id"
                    >{{item.name}}</option>
                  </select>
                  <div
                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                  >
                    <svg
                      class="fill-current h-4 w-4"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-content -mx-3 mb-2">
              <div class="w-full px-3 mb-6 md:mb-0">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  type="submit"
                >Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { GetRoleList } from "../store/api/roles";
import { GetSingleUser, CreateUser, UpdateUser } from "../store/api/users";

export default {
  name: "UserFormPage",
  data: () => ({
    action: "create", // create/update
    roles: [],
    loading: false,
    form: {
      name: "",
      password: "",
      confirmPassword: "",
      roleId: ""
    }
  }),
  created() {
    this.init();
  },
  watch: {
    $route: "init"
  },
  methods: {
    init() {
      if (this.$router.currentRoute.name === "UserEdit") {
        this.action = "update";
        GetSingleUser(this.$route.params.id)
          .then(d => {
            if (d === null) {
              this.$swal("Error", "user data is no longer exist", "error").then(
                () => {
                  this.$router.push({ name: "UserPage" });
                }
              );
              return;
            }
            this.form = {
              name: d.name
            };
          })
          .catch(err => {
            this.$swal("Error", "failed to fetch data", "error").then(() => {
              this.$router.push({ name: "UserPage" });
            });
          });
      }
      this.fetchRoles();
    },
    fetchRoles() {
      this.loading = true;
      return GetRoleList()
        .then(({ data }) => {
          this.loading = false;
          this.roles = data;
        })
        .catch(err => {
          this.loading = false;
          this.$swal("Error", "failed to fetch data", "error").then(() => {
            this.$router.push({ name: "UserPage" });
          });
        });
    },
    onSubmit() {
      if (this.action === "update") {
        // update
        this.handleSubmitUpdate();
      } else {
        // create
        this.handleSubmitCreate();
      }
    },
    handleSubmitUpdate() {
      const formData = this.form;
      for (const key in formData) {
        const v = formData[key];
        switch (key) {
          case "name":
            if (!v) {
              this.$swal("Validation", "Name is required", "warning");
              return;
            }
            break;
          case "password":
            if (v !== "" && v !== formData.confirmPassword) {
              this.$swal(
                "Validation",
                "Password and Password confirmation is not same",
                "warning"
              );
              return;
            }
            break;
        }
      }
      const { confirmPassword, roleId, ...payload } = formData;
      payload.password = formData.password || "";
      this.$swal({
        title: "Are you sure?",
        icon: "info",
        buttons: true,
        dangerMode: true
      }).then(run => {
        if (run) {
          UpdateUser(this.$route.params.id, payload)
            .then(d => {
              this.$swal(
                "Success",
                "user data successfully saved",
                "success"
              ).then(() => {
                this.$router.push({ name: "UserPage" });
              });
            })
            .catch(err => {
              this.$swal("Error", "failed to save data", "error");
            });
        }
      });
    },
    handleSubmitCreate() {
      const formData = this.form;
      for (const key in formData) {
        const v = formData[key];
        switch (key) {
          case "name":
            if (!v) {
              this.$swal("Validation", "Name is required", "warning");
              return;
            }
            break;
          case "password":
            if (v == "") {
              this.$swal("Validation", "Password is required", "warning");
              return;
            } else if (v !== formData.confirmPassword) {
              this.$swal(
                "Validation",
                "Password and Password confirmation is not same",
                "warning"
              );
              return;
            }
            break;
          case "roleId":
            if (v === "") {
              this.$swal("Validation", "Role is required", "warning");
              return;
            }
            break;
        }
      }
      const { confirmPassword, ...payload } = formData;

      this.$swal({
        title: "Are you sure?",
        icon: "info",
        buttons: true,
        dangerMode: true
      }).then(run => {
        if (run) {
          CreateUser(payload)
            .then(d => {
              this.$swal(
                "Success",
                "user data successfully saved",
                "success"
              ).then(() => {
                this.$router.push({ name: "UserPage" });
              });
            })
            .catch(err => {
              this.$swal("Error", "failed to save data", "error");
            })
            .catch(err => {
              this.$swal("Error", "failed to save data", "error");
            });
        }
      });
    }
  }
};
</script>