<template>
  <div id="user">
    <nav class="text-sm font-semibold mb-6" aria-label="Breadcrumb">
      <ol class="list-none p-0 inline-flex">
        <li class="flex items-center text-blue-500">
          <router-link :to="{name:'DashboardHome'}">
            <a class="text-gray-700">Home</a>
          </router-link>
          <svg
            class="fill-current w-3 h-3 mx-3"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
            />
          </svg>
        </li>
        <li class="flex items-center">
          <router-link :to="{name:'UserPage'}">
            <a class="text-gray-600">Users</a>
          </router-link>
        </li>
      </ol>
    </nav>
    <div class="flex justify-between items-center mb-6">
      <p class="text-2xl font-semibold mb-2 lg:mb-0">Users</p>
      <div class="mb-2 lg:mb-0 text-right">
        <router-link :to="{name:'UserCreate'}">
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
            <FontAwesome icon="plus" />
          </button>
        </router-link>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-20">
      <div class="w-full xl:w-full px-3">
        <div class="w-full bg-white border rounded-lg flex items-center p-6 mb-6 xl:mb-0">
          <div v-if="loading" class="loading">Loading...</div>
          <div class="datatable" v-else>
            <datatable :columns="columns" :data="rows" :per-page="10"></datatable>
            <datatable-pager v-model="page" type="short"></datatable-pager>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { GetUserList, DeleteUser } from "../store/api/users";

const tableAction = Vue.component("table-action-user", {
  props: ["row"],
  methods: {
    deleteUser() {
      this.$root.$refs.UserPage.deleteUser(this.row.id);
    }
  },
  template: `
    <div>
      <router-link :to="{name:'UserEdit', params: {id:row.id}}">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <FontAwesome icon="pencil-alt" />
      </button>
      </router-link>
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" @click="deleteUser">
          <FontAwesome icon="trash-alt" />
      </button>
    </div>
  `
});

export default {
  name: "UserPage",
  components: { "table-action-user": tableAction },
  data: () => ({
    loading: false,
    page: 1,
    columns: [
      { label: "#", field: "num", headerClass: "w-1/6" },
      {
        label: "Name",
        field: "name"
      },
      {
        label: "Role",
        field: "role"
      },
      {
        label: "",
        component: "table-action-user",
        sortable: false,
        headerClass: "w-1/6",
        align: "center"
      }
    ],
    rows: []
  }),
  created() {
    this.$root.$refs.UserPage = this;
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    fetchData() {
      this.loading = true;
      GetUserList()
        .then(({ data }) => {
          this.loading = false;
          for (let i in data) {
            data[i].num = parseInt(i) + 1;
          }
          this.rows = data;
        })
        .catch(err => {
          this.loading = false;
        });
    },
    deleteUser(id) {
      this.$swal({
        title: "Are you sure?",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          DeleteUser(id)
            .then(() => {
              this.$swal(
                "Success",
                "Data successfully removed",
                "success"
              ).then(this.fetchData);
            })
            .catch(err => {
              this.$swal("Failed", err, "error");
            });
        }
      });
    }
  }
};
</script>
