body {
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.overlay {
  position: relative;
}

/* 1024 -1 so it doesnt show when it hits 1024px */
@media only screen and (max-width: 1023px) {
  .overlay:after {
    content: " ";
    z-index: 29;
    display: block;
    height: 100%;
    top: 80px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    position: fixed;
  }
}

// datatable
.datatable {
  table {
    thead {
      tr {
        background-color: #edf2f7;
        border-width: 1px 1px;
        th {
          font-weight: 500;
          border-width: 1px 0;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-right: 1rem;
          padding-left: 1rem;
        }
      }
    }
    tbody {
      tr:hover,
      tr:focus{
        background-color: #f7fafc;
      }
      tr {
        td {
          font-weight:400;
          border-width: 1px;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-right: 1rem;
          padding-left: 1rem;
        }
      }
    }
  }
}